@media (min-width: 1050px) {
  html {
    font-size: 1.1rem;
  }

  .content {
    padding-left: 2rem;
    padding-right: 4rem;
    align-items: flex-start;
    justify-content: center;
    .content-title {
      text-align: left;
    }
    .content-description {
      text-align: left;
      max-width: 46vw;
    }
  }
  .content-perks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 1.2rem;
  }
  .content-title {
    padding-right: 8rem;
  }
  .content-description {
    padding-right: 5rem;
    margin-bottom: 4rem;
  }
}
